h1 {
  color: red;
}
.조합 dt {
  color: blue;
}
.조합 dd::before {
  content: "설명:";
  color: blueviolet;
}
.조합 dd {
  color: brown;
}
button:hover {
  color: hotpink;
}
button:active {
  background-color: blue;
}
a[href]:active,
a[href]:hover {
  color: darkgreen;
}
table #name {
  color: red;
}
.number {
  color: blue;
}
td {
  /*class 선택자가 태그 선택자보다 우선순위입니다.*/
  /* !important;를 넣어 최우선 순위로 지정할 수 있습니다.*/
  color: aqua !important;
}
